<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Quack_GoogleReviews>
            <version>0.0.1</version>
        </Quack_GoogleReviews>
    </modules>
    <global>
        <models>
            <googlereviews>
                <class>Quack_GoogleReviews_Model</class>
                <resourceModel>googlereviews_mysql4</resourceModel>
            </googlereviews>
            <googlereviews_mysql4>
                <class>Quack_GoogleReviews_Model_Mysql4</class>
            </googlereviews_mysql4>
        </models>
        <blocks>
            <googlereviews>
                <class>Quack_GoogleReviews_Block</class>
            </googlereviews>
        </blocks>
        <helpers>
        	<googlereviews>
        		<class>Quack_GoogleReviews_Helper</class>
        	</googlereviews>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <googlereviews_order_success>
                        <class>googlereviews/observer</class>
                        <method>setGoogleReviewsOnOrderSuccessPageView</method>
                    </googlereviews_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <googlereviews_order_success>
                        <class>googlereviews/observer</class>
                        <method>setGoogleReviewsOnOrderSuccessPageView</method>
                    </googlereviews_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <googlereviews>
                    <file>googlereviews.xml</file>
                </googlereviews>
            </updates>
        </layout>
    </frontend>
    <default>
    	<google>
	    	<reviews>
	    		<active>1</active>
	    		<account>1234567</account>
	    		<estimated_delivery_time>/([0-9]+) days/</estimated_delivery_time>
	    		<country_code>US</country_code>
	    	</reviews>
	    </google>
    </default>
</config>