<?xml version="1.0"?>
<config>
    <sections>
        <google>
            <groups>
                <reviews translate="label">
                    <label>Google Reviews</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <account translate="label">
                            <label>Account Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Your Merchant Center ID. You can get this value from the Google Merchant Center.</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </account>
                        <estimated_delivery_time translate="label">
                            <label>Estimated Delivery Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </estimated_delivery_time>
                        <estimated_delivery_pattern translate="label">
                            <label>Estimated Delivery Time (Pattern)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Regular Expression to load the delivery time from shipping description. If no matches is found "Estimated Delivery Time" is applied.</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </estimated_delivery_pattern>
                        <country_code translate="label">
                            <label>Country</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The two-letter country code for the customer's default country (applied only when order address has no country.). This value must be in ISO 3166-1 alpha-2 format. For example, "US".</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </country_code>
                        <badge translate="label">
                            <label>Enable Google Reviews Badge</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show badge on frontend</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </badge>
                        <badge_position translate="label">
                            <label>Where should the badge appear?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>googlereviews/badgepositions</source_model>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <badge>1</badge>
                            </depends>
                        </badge_position>
                        <attribute_gtin translate="label">
                            <label>GTIN Attribute</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>GTIN attribute code for Product Reviews (optional).</comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </attribute_gtin>
                    </fields>
                </reviews>
            </groups>
        </google>
    </sections>
</config>
